<%- include("header") %> 

    <div class="content">
        <div class="box" id="heading">
            <h1><%= listTitle %></h1>
        </div>
    
        <div class="box">
            <% if(itemList.length == 0){ %>
                    <div class="item">
                        <input type="checkbox">
                        <p>There's nothing in your list.</p>
                    </div>
            <% } %> 

            <% itemList.forEach(item => { %>
                <form action="/db/delete" method="post">
                    <div class="item">
                        <input type="checkbox" name="checkbox" value="<%=item._id%>" onchange="this.form.submit()">
                        <p> <%= item.name %> </p>
                    </div>
                </form>
            <% }); %>
    
            <form class="submit-form" action="<%= r %>" method="post">
                <input id="todoinput" name="todo" type="text" placeholder="New Item" autocomplete="off">
                <button type="submit" name="list" value= "<%= listTitle %>">+</button>
            </form>
        </div>
    </div>

<%- include("footer") %> 
